{% extends '@layout/default.html.twig' %}

{% block title %}Comics{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <h2>
                <a href="{{ path('comic') }}/{{ first.id }}">
                    <img src="{{ first.thumbnail }}" alt="{{ first.title }}" style="max-width: 100%">
                </a>
            </h2>
        </div>

        <div class="col-md-8">
            <h2>
                <a href="{{ path('comic') }}/{{ first.id }}">
                    <p>
                        {{ first.title }}
                    </p>
                </a>
            </h2>
            <p>
                {{ first.description }}
            </p>
        </div>
    </div>
</div>
{% endblock %}
