{% extends '@layout/default.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Welcome to <span class="zf-green">{{ domain }}</span></h1>
    </div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4">
                <div>

                </div>

                <h2>
                    <a href="{{ path('stories') }}/{{ first.character.id }}" target="_blank">
                        <img src="{{ first.character.image }}" alt="{{ first.character.name }}" style="max-width: 100%">
                        <p>
                            {{ first.character.name }}
                        </p>
                    </a>
                </h2>
                <p>
                    {{ first.character.description }}
                </p>
            </div>
            <div class="col-md-4">
                <h2>
                    <a href="{{ path('stories') }}/{{ second.character.id }}" target="_blank">
                        <img src="{{ second.character.image }}" alt="{{ second.character.name }}" style="max-width: 100%">
                        <p>
                            {{ second.character.name }}
                        </p>
                    </a>
                </h2>
                <p>
                    {{ second.character.description }}
                </p>
            </div>
            <div class="col-md-4">
                <h2>
                    <a href="{{ path('stories') }}/{{ third.character.id }}" target="_blank">
                        <img src="{{ third.character.image }}" alt="{{ third.character.name }}" style="max-width: 100%">
                        <p>
                            {{ third.character.name }}
                        </p>
                    </a>
                </h2>
                <p>
                    {{ third.character.description }}.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-4">
            <h2>
                <a href="{{ path('comics') }}" target="_blank">
                    <i class="fa fa-adjust"></i> Comics
                </a>
            </h2>
            <p>
                Browse and discover Marvel print and digital comic books.
            </p>
        </div>

        <div class="col-md-4">
            <h2>
                <a href="{{ path('stories') }}" target="_blank">
                    <i class="fa fa-dot-circle"></i> Stories
                </a>
            </h2>
            <p>
                Marvel's greatest stories. Join us and have fun with the best stories from your favorite heroes.
            </p>
        </div>
    </div>
    <div class="col-md-2">

    </div>
{% endblock %}
