{% extends '@layout/default.html.twig' %}

{% block title %}Stories{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4">
                <h2>
                    <a href="{{ path('stories') }}/{{ first.character.id }}">
                        <img src="{{ first.character.image }}" alt="{{ first.character.name }}" style="max-width: 100%">
                        <p>
                            {{ first.character.name }}
                        </p>
                    </a>
                </h2>
                <p>
                    {{ first.character.description }}
                </p>
            </div>
            <div class="col-md-8 ">
                <div class="row">
                    <div class="col-md-2">
                        <a href="{{ path('comic') }}/{{ first.character.comics.0.id }}">
                            <img src="{{ first.character.comics.0.image }}" alt="{{ first.character.name }}" style="max-width: 100%">
                        </a>
                    </div>
                    <div class="col-md-10">
                        <h2>
                            <a href="{{ path('comic') }}/{{ first.character.comics.0.id }}">
                                <p>
                                    {{ first.character.stories.0.title }}
                                </p>
                            </a>
                        </h2>
                        <p>
                            {{ first.character.comics.0.description }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a href="{{ path('comic') }}/{{ first.character.comics.1.id }}">
                            <img src="{{ first.character.comics.1.image }}" alt="{{ first.character.name }}" style="max-width: 100%">
                        </a>
                    </div>
                    <div class="col-md-10">
                        <h2>
                            <a href="{{ path('comic') }}/{{ first.character.comics.2.id }}">
                                <p>
                                    {{ first.character.stories.1.title }}
                                </p>
                            </a>
                        </h2>
                        <p>
                            {{ first.character.comics.1.description }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a href="{{ path('comic') }}/{{ first.character.comics.2.id }}">
                            <img src="{{ first.character.comics.2.image }}" alt="{{ first.character.name }}" style="max-width: 100%">
                        </a>
                    </div>
                    <div class="col-md-10">
                        <h2>
                            <a href="{{ path('comic') }}/{{ first.character.comics.2.id }}">
                                <p>
                                    {{ first.character.stories.2.title }}
                                </p>
                            </a>
                        </h2>
                        <p>
                            {{ first.character.comics.2.description }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a href="{{ path('comic') }}/{{ first.character.comics.3.id }}">
                            <img src="{{ first.character.comics.3.image }}" alt="{{ first.character.name }}" style="max-width: 100%">
                        </a>
                    </div>
                    <div class="col-md-10">
                        <h2>
                            <a href="{{ path('comic') }}/{{ first.character.comics.3.id }}">
                                <p>
                                    {{ first.character.stories.3.title }}
                                </p>
                            </a>
                        </h2>
                        <p>
                            {{ first.character.comics.3.description }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a href="{{ path('comic') }}/{{ first.character.comics.4.id }}">
                            <img src="{{ first.character.comics.4.image }}" alt="{{ first.character.name }}" style="max-width: 100%">
                        </a>
                    </div>
                    <div class="col-md-10">
                        <h2>
                            <a href="{{ path('comic') }}/{{ first.character.comics.4.id }}">
                                <p>
                                    {{ first.character.stories.4.title }}
                                </p>
                            </a>
                        </h2>
                        <p>
                            {{ first.character.comics.4.description }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if third != false %}
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-4">
                    <h2>
                        <a href="{{ path('stories') }}/{{ second.character.id }}">
                            <img src="{{ second.character.image }}" alt="{{ second.character.name }}" style="max-width: 100%">
                            <p>
                                {{ second.character.name }}
                            </p>
                        </a>
                    </h2>
                    <p>
                        {{ second.character.description }}
                    </p>
                </div>
                <div class="col-md-8 ">
                    <div class="row">
                        <div class="col-md-2">
                            <a href="{{ path('comic') }}/{{ second.character.comics.0.id }}">
                                <img src="{{ second.character.comics.0.image }}" alt="{{ second.character.name }}" style="max-width: 100%">
                            </a>
                        </div>
                        <div class="col-md-10">
                            <h2>
                                <a href="{{ path('comic') }}/{{ second.character.comics.0.id }}">
                                    <p>
                                        {{ second.character.stories.0.title }}
                                    </p>
                                </a>
                            </h2>
                            <p>
                                {{ second.character.comics.0.description }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <a href="{{ path('comic') }}/{{ second.character.comics.1.id }}">
                                <img src="{{ second.character.comics.1.image }}" alt="{{ second.character.name }}" style="max-width: 100%">
                            </a>
                        </div>
                        <div class="col-md-10">
                            <h2>
                                <a href="{{ path('comic') }}/{{ second.character.comics.1.id }}">
                                    <p>
                                        {{ second.character.stories.1.title }}
                                    </p>
                                </a>
                            </h2>
                            <p>
                                {{ second.character.comics.1.description }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <a href="{{ path('comic') }}/{{ second.character.comics.2.id }}">
                                <img src="{{ second.character.comics.2.image }}" alt="{{ second.character.name }}" style="max-width: 100%">
                            </a>
                        </div>
                        <div class="col-md-10">
                            <h2>
                                <a href="{{ path('comic') }}/{{ second.character.comics.2.id }}">
                                    <p>
                                        {{ second.character.stories.2.title }}
                                    </p>
                                </a>
                            </h2>
                            <p>
                                {{ second.character.comics.2.description }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <a href="{{ path('comic') }}/{{ second.character.comics.3.id }}">
                                <img src="{{ second.character.comics.3.image }}" alt="{{ second.character.name }}" style="max-width: 100%">
                            </a>
                        </div>
                        <div class="col-md-10">
                            <h2>
                                <a href="{{ path('comic') }}/{{ second.character.comics.3.id }}">
                                    <p>
                                        {{ second.character.stories.3.title }}
                                    </p>
                                </a>
                            </h2>
                            <p>
                                {{ second.character.comics.3.description }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <a href="{{ path('comic') }}/{{ second.character.comics.4.id }}">
                                <img src="{{ second.character.comics.4.thumbnail }}" alt="{{ second.character.name }}" style="max-width: 100%">
                            </a>
                        </div>
                        <div class="col-md-10">
                            <h2>
                                <a href="{{ path('comic') }}/{{ second.character.comics.4.id }}">
                                    <p>
                                        {{ second.character.stories.4.title }}
                                    </p>
                                </a>
                            </h2>
                            <p>
                                {{ second.character.comics.4.description }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if third != false %}
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-4">
                    <h2>
                        <a href="{{ path('stories') }}/{{ third.character.id }}">
                            <img src="{{ third.character.image }}" alt="{{ third.character.name }}" style="max-width: 100%">
                            <p>
                                {{ third.character.name }}
                            </p>
                        </a>
                    </h2>
                    <p>
                        {{ third.character.description }}
                    </p>
                </div>
                <div class="col-md-8 ">
                    <div class="row">
                        <div class="col-md-2">
                            <a href="{{ path('comic') }}/{{ third.character.comics.0.id }}">
                                <img src="{{ third.character.comics.0.image }}" alt="{{ third.character.name }}" style="max-width: 100%">
                            </a>
                        </div>
                        <div class="col-md-10">
                            <h2>
                                <a href="{{ path('comic') }}/{{ third.character.comics.0.id }}">
                                    <p>
                                        {{ third.character.stories.0.title }}
                                    </p>
                                </a>
                            </h2>
                            <p>
                                {{ third.character.comics.0.description }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <a href="{{ path('comic') }}/{{ third.character.comics.1.id }}">
                                <img src="{{ third.character.comics.1.image }}" alt="{{ third.character.name }}" style="max-width: 100%">
                            </a>
                        </div>
                        <div class="col-md-10">
                            <h2>
                                <a href="{{ path('comic') }}/{{ third.character.comics.1.id }}">
                                    <p>
                                        {{ third.character.stories.1.title }}
                                    </p>
                                </a>
                            </h2>
                            <p>
                                {{ third.character.comics.1.description }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <a href="{{ path('comic') }}/{{ third.character.comics.2.id }}">
                                <img src="{{ third.character.comics.2.image }}" alt="{{ third.character.name }}" style="max-width: 100%">
                            </a>
                        </div>
                        <div class="col-md-10">
                            <h2>
                                <a href="{{ path('comic') }}/{{ third.character.comics.2.id }}">
                                    <p>
                                        {{ third.character.stories.2.title }}
                                    </p>
                                </a>
                            </h2>
                            <p>
                                {{ third.character.comics.2.description }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <a href="{{ path('comic') }}/{{ third.character.comics.3.id }}">
                                <img src="{{ third.character.comics.3.image }}" alt="{{ third.character.name }}" style="max-width: 100%">
                            </a>
                        </div>
                        <div class="col-md-10">
                            <h2>
                                <a href="{{ path('comic') }}/{{ third.character.comics.3.id }}">
                                    <p>
                                        {{ third.character.stories.3.title }}
                                    </p>
                                </a>
                            </h2>
                            <p>
                                {{ third.character.comics.3.description }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <a href="{{ path('comic') }}/{{ third.character.comics.4.id }}">
                                <img src="{{ third.character.comics.4.image }}" alt="{{ third.character.name }}" style="max-width: 100%">
                            </a>
                        </div>
                        <div class="col-md-10">
                            <h2>
                                <a href="{{ path('comic') }}/{{ third.character.comics.4.id }}">
                                    <p>
                                        {{ third.character.stories.4.title }}
                                    </p>
                                </a>
                            </h2>
                            <p>
                                {{ third.character.comics.4.description }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if third != false %}
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-4">
                    <div>

                    </div>

                    <h2>
                        <a href="{{ path('stories') }}/{{ first.character.id }}">
                            <img src="{{ first.character.image }}" alt="{{ first.character.name }}" style="max-width: 100%">
                            <p>
                                {{ first.character.name }}
                            </p>
                        </a>
                    </h2>
                    <p>
                        {{ first.character.description }}
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>
                        <a href="{{ path('stories') }}/{{ second.character.id }}">
                            <img src="{{ second.character.image }}" alt="{{ second.character.name }}" style="max-width: 100%">
                            <p>
                                {{ second.character.name }}
                            </p>
                        </a>
                    </h2>
                    <p>
                        {{ second.character.description }}
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>
                        <a href="{{ path('stories') }}/{{ third.character.id }}">
                            <img src="{{ third.character.image }}" alt="{{ third.character.name }}" style="max-width: 100%">
                            <p>
                                {{ third.character.name }}
                            </p>
                        </a>
                    </h2>
                    <p>
                        {{ third.character.description }}.
                    </p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
